@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

*{
   font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.singlePersonsPosts::-webkit-scrollbar{
    display: none;
}
.post-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
.post-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, etc. */
}
